*{
    margin: 0;
}

:root{
    --positionX: 0px;
    --positionY: 0px;

    --enemyX: 0px;
    --enemyY: 0px;
    
    --centroX: 0px;
    --centroY: 0px;
}

.game{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.bird{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: var(--positionX);
    top: var(--positionY);
}

.enemy{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: var(--enemyX);
    top: var(--enemyY);
}

.centro{
    left: var(--centroX);
    top:var(--centroY);
    height: 4px;
    width: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

h1,h2{
    color: white;
}

.info{
    color: white;
    right: 0;
}